
@font-face{
    font-family: AirbnbCereal-book;
    src: url('../assets/fonts/AirbnbCereal-Book.ttf')
}

@font-face{
    font-family: AirbnbCereal-light;
    src: url('../assets/fonts/AirbnbCereal-Light.ttf')
}

@font-face{
    font-family: AirbnbCereal-bold;
    src: url('../assets/fonts/AirbnbCereal-Bold.ttf')
}

@font-face{
    font-family: AirbnbCereal-black;
    src: url('../assets/fonts/AirbnbCereal-Black.ttf')
}
