
@font-face{
    font-family: AirbnbCereal-book;
    src: url('../assets/fonts/AirbnbCereal-Book.ttf')
}

@font-face{
    font-family: AirbnbCereal-light;
    src: url('../assets/fonts/AirbnbCereal-Light.ttf')
}
