@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Hammersmith+One');
@import '@/scss/variables.scss';

@font-face{
    font-family: AirbnbCereal;
    src: url('../assets/fonts/AirbnbCereal-Book.ttf')

}
*{
    font-family: 'AirbnbCereal', sans-serif;
}



button:focus {
    outline: none;
}

.preview-name{
font-size: 2rem;
}

.user-appoints{
    z-index: 100;
    position: fixed;
    right: 10px;
    top: 10px;
}

ul {
    list-style: none;
    &.business-list{
        padding: 0;
        margin: 0;
        max-width: 1050px;
        display: grid;
        // grid-template-columns: repeat(4,minmax(min-content, auto));
        grid-template-columns: repeat(4,1fr);
        grid-gap: 16px;
        padding: 20px;

        li{
            // height: 300px;
        }
    }
}

@media (max-width: 930px){
    ul {
        list-style: none;
        padding: 0;
        &.business-list{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 20px;
        }
    }
}

@media (max-width: 740px){
    ul {
        list-style: none;
        padding: 0;
        &.business-list{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 20px;
        }
    }
    .home-filter{
        input{
            padding: 7px 7px 7px 0px;
            }
        }
}

@media (max-width: 480px){
    ul {
        list-style: none;
        padding: 0;
        &.business-list{
            display: grid;
            grid-template-columns: 1fr;
            padding: 20px;
        }
    }
}

.home-filter{
    input{
        height: 48px;
        width: 100%;
        padding-left: 10px;
        border-radius: 3px 0 0 3px;
        border-right: 0;
        font-size: 15px;
        background-color: white;
        border: 1px solid #ddd;
        font-size: 1.2rem;
        text-transform: capitalize!important;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        padding: 7px 7px 7px 28px;
        resize: none;
        box-sizing: border-box;
        &:focus{
        outline: 1.1px solid #ccc !important;
        }
    }
}

.Preview{
    height: 100%;
    background-color: #fdfdfd;
    h3,p{
        margin: 10px 0 0 ;
    }
}
.preview-details-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.preview-img-container{
    height: 65%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px 3px 0 0 ;
}

.midle{
    button{
        margin-left: 100px;
        cursor: pointer;
        height: 60px;
    }
}

@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');

.nav-burger{
  display: none;
}
.routes{
    display: flex;
    align-items: flex-end;
    font-size: 1.1rem;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

@media (max-width: 740px){


.routes{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #d0f6f7;
  transform: translate(-100%,0);
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 100px 0 0 20px;
  background-color: #f2f6f5;
  transition: .3s ease-in-out;
  &.openNav{
    position: fixed;
    transform: translate(0,0);
    width: 60vw;
  }
}
a{
  margin-bottom: 10px;
  span{
    display: none;
  }
}
.nav-burger{
  display: block;
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 2rem;
  z-index: 100000;
  cursor: pointer;
}

}
