// $primary-color: #1dbf73;
$primary-color: #bf1d1d;
$primary-color-light: lighten($primary-color,5%);
$secondary-color: #07b1d5;
$text-black: rgb(72, 72, 72);
$text-grey: rgb(118, 118, 118);
$star-blue:rgb(0, 132, 137);
