@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Hammersmith+One');

@font-face{
    font-family: AirbnbCereal;
    src: url('./assets/fonts/AirbnbCereal-Book.ttf')

}
*{
    // font-family: 'Fjalla One', sans-serif;
    // font-family: 'Hammersmith One', sans-serif;
    font-family: 'AirbnbCereal', sans-serif;
}



button:focus {
    outline: none;
}

.preview-name{
font-size: 2rem;
}

.user-appoints{
    z-index: 100;
    position: fixed;
    right: 10px;
    top: 10px;
}

body{
    background-color: #f2f6f5;
    // background-color:#ff9900;
}

ul {
    list-style: none;
    &.business-list{
        padding: 0;
        margin: 0;
        max-width: 1050px;
        display: grid;
        // grid-template-columns: repeat(4,minmax(min-content, auto));
        grid-template-columns: repeat(4,1fr);
        grid-gap: 20px;
        padding: 20px;

        li{
            // height: 300px;
        }
    }
}

@media (max-width: 740px){
    ul {
        list-style: none;
        padding: 0;
        &.business-list{
            display: grid;
            grid-template-columns: 1fr;
            padding: 20px;
        }
    }
    .head-bar{
        padding: 10px;
    }

}

#nav{
    position: absolute;
    // width: 100%;
    padding:  10px 10px 10px 30px;
    z-index: 10;
    left: 0;
    background-image: linear-gradient(to left, white , #ffffff00);
    width: 100%;
    z-index: 1000;
}
.home{
    header{
        height: 100vh;
        padding-top: 140px;
        // background-image: url('./assets/cover2.jpg');
        // background-image: url('./assets/main-cover-3.png');
        background-attachment: fixed;
        background-size: cover;
        // background-size: contain;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-evenly;
        .head-bar{
            padding-left: 30px;
            max-width: 550px;
            width: auto;
            h1{
                font-size: 34px;
                line-height: 1.3;
                padding-bottom: 32px;
                color: #303030;
                text-transform: capitalize!important;
                margin-block-start: 0.67em;
                margin-block-end: 0.67em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                text-align: -webkit-auto;
            }
        }
    }
}
.home-filter{
    input{
        height: 48px;
        width: 100%;
        padding-left: 10px;
        border-radius: 3px 0 0 3px;
        border-right: 0;
        font-size: 15px;
        // padding-top: 8px;
        background-color: white;
        // border: 1px solid #e7e7e7;
        border: 1px solid #ddd;
        // text-align: center;
        font-size: 1.2rem;
        text-transform: capitalize!important;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        padding: 7px 7px 7px 28px;
        resize: none;
        box-sizing: border-box;
        &:focus{
            outline: 1.1px solid #ccc !important;
            // border:1.1px solid #ddd;
    // box-shadow: 0 0 2px #719ECE;
        }
    }
}
.Preview{
    height: 100%;
    background-color: #fdfdfd;
    h3,p{
        margin: 10px 0 0 ;
    }
}
.preview-details-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.preview-img-container{
    height: 65%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px 3px 0 0 ;
}

.midle{
    button{
        margin-left: 100px;
        cursor: pointer;
        height: 60px;
    }
}