@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Hammersmith+One');

@font-face{
    font-family: AirbnbCereal;
    src: url('./assets/fonts/AirbnbCereal-Book.ttf')

}
*{
    font-family: 'AirbnbCereal', sans-serif;
}



button:focus {
    outline: none;
}

.preview-name{
font-size: 2rem;
}

.user-appoints{
    z-index: 100;
    position: fixed;
    right: 10px;
    top: 10px;
}

body{
    background-color: #e1f9f9;
    // background-color:#ff9900;
}

ul {
    list-style: none;
    &.business-list{
        padding: 0;
        margin: 0;
        max-width: 1050px;
        display: grid;
        // grid-template-columns: repeat(4,minmax(min-content, auto));
        grid-template-columns: repeat(4,1fr);
        grid-gap: 20px;
        padding: 20px;

        li{
            // height: 300px;
        }
    }
}

@media (max-width: 930px){
    ul {
        list-style: none;
        padding: 0;
        &.business-list{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 20px;
        }
    }
}

@media (max-width: 740px){
    ul {
        list-style: none;
        padding: 0;
        &.business-list{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 20px;
        }
    }
    .head-bar{
        padding: 20px;
    }
    .home-filter{
        input{
            padding: 7px 7px 7px 0px;
            }
        }
}

@media (max-width: 480px){
    ul {
        list-style: none;
        padding: 0;
        &.business-list{
            display: grid;
            grid-template-columns: 1fr;
            padding: 20px;
        }
    }
}


#nav{
    position: absolute;
    padding:  10px 10px 10px 30px;
    z-index: 10;
    left: 0;
    background-image: linear-gradient(to left, white , #ffffff00);
    width: 100%;
    z-index: 1000;
}
.home{
    header{
        height: 100vh;
        padding-top: 130px;
        // background-image: url('./assets/cover2.jpg');
        background-image: url('./assets/background1.png');
        // background-attachment: fixed;
        background-size: cover;
        background-position-y: -100px;
        // background-size: contain;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-evenly;
        .head-bar{
            padding-left: 30px;
            max-width: 550px;
            width: auto;
            h1{
                font-size: 34px;
                line-height: 1.3;
                padding-bottom: 32px;
                color: #303030;
                text-transform: capitalize!important;
                margin-block-start: 0.67em;
                margin-block-end: 0.67em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                text-align: -webkit-auto;
            }
        }
    }
}
.home-filter{
    input{
        height: 48px;
        width: 100%;
        padding-left: 10px;
        border-radius: 3px 0 0 3px;
        border-right: 0;
        font-size: 15px;
        background-color: white;
        border: 1px solid #ddd;
        font-size: 1.2rem;
        text-transform: capitalize!important;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        padding: 7px 7px 7px 28px;
        resize: none;
        box-sizing: border-box;
        &:focus{
        outline: 1.1px solid #ccc !important;
        }
    }
}

@media (max-width: 740px){
    .home{
        header{
            .head-bar{
                padding-left: 20px;
            }
        }
    }
}
.Preview{
    height: 100%;
    background-color: #fdfdfd;
    h3,p{
        margin: 10px 0 0 ;
    }
}
.preview-details-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.preview-img-container{
    height: 65%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px 3px 0 0 ;
}

.midle{
    button{
        margin-left: 100px;
        cursor: pointer;
        height: 60px;
    }
}

@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');

.logo,.mobile-logo{
  h1{
  font-family: 'Baloo Chettan', cursive;
    position: relative;
    font-weight: bold;
    span{
    position: absolute;
    top: -101px;
    font-size: 135px;
    right: -13px;
    z-index: -1;
    color: #1dbf73;
    height: 50px;
    }
  }
}
.mobile-logo{
  display: none;
}
.nav-burger{
  display: none;
}
.routes{
    display: flex;
    align-items: flex-end;
    font-size: 1.1rem;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  // padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  a,.user-name,logout-btn {
    margin-right: 5px;
    margin-left: 5px;
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

@media (max-width: 740px){


.routes{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #d0f6f7;
  transform: translate(-100%,0);
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 100px 0 0 20px;
  background-color: #f2f6f5;
  transition: .3s ease-in-out;
  &.openNav{
    position: fixed;
    transform: translate(0,0);
    width: 60vw;
  }
}
a{
  margin-bottom: 10px;
  span{
    display: none;
  }
}
.logo{
//  display: block;
//   position: absolute;
//   top: 10px;
//   left: 25%;
}
.nav-burger{
  display: block;
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 2rem;
  z-index: 100000;
  cursor: pointer;
}

}